<!DOCTYPE html>
<head>
    <title>Home</title>
    <style>
    .navBar{

    }
    .navBar p{

    }
    .navBar button{

    }
    .sendMessage{

    }
    .sendMessage input{

    }
    .sendMessage button{

    }
    .message{

    }
    .message p{

    }
    .username{

    }
    body{

    }

    </style>
</head>
<body>
    <div class="navBar">
        <p>AGE FILTER</p>
    </div>
    <div class="sendMessage">
        <input name="sentName" type="hidden" value="{username}">
        <input name="post">
        <button onclick="sendMessage()">Send Post</button>

    </div>
    <script>
        var messages = {}
        function sendMessage(){

        }
        function getMessages(){

        }
    </script>
</body>