<!DOCTYPE html>
<head>
    <title>Home</title>
    <style>
    .navBar{

    }
    .navBar p{

    }
    .navBar button{

    }
    .sendMessage{

    }
    .sendMessage input{

    }
    .sendMessage button{

    }
    .message{

    }
    .message p{

    }
    .username{

    }
    body{

    }

    </style>
</head>
<body>
    <div class="navBar">
        <p>AGE FILTER</p>
    </div>
    <div class="sendMessage">
        <form action="/sendMesage" method="POST">
            <input name="sentName" type="hidden" value="{username}">
            <input name="post">
            <button type="submit">Send Post</button>
        </form>
    </div>
</body>