<!DOCTYPE html>
<head>
<title>AGE FILTER</title>
</head>
<body>
<form action="/signup" method="get">
<button class="submit">Signup</button>
</form>

<form action="/login" method="get">
<button class="submit">Login</button>
</form>

<p>ROBLOX CAN FIX IT SELF</p>
<p>USE THIS CHAT TO SEE THAT ROBLOX CAN FIX ITS CHAT</p>
<p>A BETTER AGE FILTER TOO</p>
<p>THAT FILTERS BASED ON AGE! NOT COMPELTELY REMOVING CHAT</p>
<p>GO TO MY BLOG AT roboswordblog.github.io/robosword to see my stuff</p>
<p>FREEDOM OF SPEECCH</p>
</body>