<!DOCTYPE html>
<head>
<title></title>
<style>
.body{

}
.card{

}
.card input{

}
.card p{

}
.card h1{
    
}
.navbar{

}
.navbar p{

}
.errorBox{

}
.errorBox h1{

}
.errorBox p{

}
</style>
</head>
<body>
<div class="navbar">
<P>AGE FILTER</P>
</div>
<div class="errorBox">
    <h1>THIS USERNAME IS TAKEN</h1>
</div>
<div class="card">
<p>Signup</p>

<form method="POST" action="/signup">
    <input name="username">
    <input name="password">
    <button type="submit">Signup</button>
</form>
</div>
<script>

</script>

</body>
